<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="HotChocolate\Manager\Api\Data\HotChocolateInterface" type="HotChocolate\Manager\Model\HotChocolate"/>
    <preference for="HotChocolate\Manager\Api\Data\HotChocolatePricesInterface" type="HotChocolate\Manager\Model\HotChocolatePrices"/>
    <preference for="HotChocolate\Manager\Api\Data\HotChocolateSearchResultsInterface" type="HotChocolate\Manager\Model\HotChocolateSearchResults"/>
    <preference for="HotChocolate\Manager\Api\Data\HotChocolatePricesSearchResultsInterface" type="HotChocolate\Manager\Model\HotChocolatePricesSearchResults"/>
    <preference for="HotChocolate\Manager\Api\HotChocolateRepositoryInterface" type="HotChocolate\Manager\Model\HotChocolateRepository"/>
    <preference for="HotChocolate\Manager\Api\HotChocolatePricesRepositoryInterface" type="HotChocolate\Manager\Model\HotChocolatePricesRepository"/>
    <preference for="HotChocolate\Manager\Api\HotChocolateManagementInterface" type="HotChocolate\Manager\Model\HotChocolateManagement"/>
</config>