<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\ImageBuilder" type="Product\Module\Block\Product\ImageBuilder"/>
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Product\Module\Block\Product\ListProduct"/>
    <type name="Magento\Catalog\Model\Config">
    <plugin name="Product_Module::addCustomOptions" type="Product\Module\Plugin\Model\Config" />
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="Product_Module::addPriceDecendingFilterInToolbar" type="Product\Module\Plugin\Product\ProductList\Toolbar" />
    </type>
</config>