<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Orders\Custom\Api\OrderManagementInterface" type="Orders\Custom\Model\OrderManagement"/>
    <preference for="Orders\Custom\Api\Data\PurchaseOrderInterface" type="Orders\Custom\Model\PurchaseOrder"/>
    <preference for="Orders\Custom\Api\PurchaseOrderRepositoryInterface" type="Orders\Custom\Model\PurchaseOrderRepository"/>
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="after_place_order_operation"
                type="Orders\Custom\Plugin\AfterPlaceOrder"/>
    </type>
</config>