<!--@subject {{trans "emailTemplate"}} @--> 
{{template config_path="design/email/header_template"}}
<table>
    <tr>
        <td>
            <div>
                {{trans "Hello %user_name." user_name=$user_name}}!
                {{trans "You have created a new account in Gordon Sinclair, this is your temporary password : "}}
                <strong>{{trans "%user_password." user_password=$user_password}}</strong>
            </div>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}