<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="DistributorTools_StockArtLibrary::entity" title="Entities" translate="title" sortOrder="40">
                    <resource id="DistributorTools_StockArtLibrary::manage" title="All" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>