<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DistributorTools\StockArtLibrary\Api\Data\StockArtCoverInterface" type="DistributorTools\StockArtLibrary\Model\StockArtCover"/>
    <preference for="DistributorTools\StockArtLibrary\Api\Data\StockArtCoverSearchResultsInterface" type="DistributorTools\StockArtLibrary\Model\StockArtCoverSearchResults"/>
    <preference for="DistributorTools\StockArtLibrary\Api\StockArtCoverRepositoryInterface" type="DistributorTools\StockArtLibrary\Model\StockArtCoverRepository"/>
    <preference for="DistributorTools\StockArtLibrary\Api\Data\StockArtImagesAttributeInterface" type="DistributorTools\StockArtLibrary\Model\StockArtImagesAttribute"/>
    <preference for="DistributorTools\StockArtLibrary\Api\Data\StockArtImagesAttributeSearchResultsInterface" type="DistributorTools\StockArtLibrary\Model\StockArtImagesAttributeSearchResults"/>
    <preference for="DistributorTools\StockArtLibrary\Api\StockArtImagesAttributeRepositoryInterface" type="DistributorTools\StockArtLibrary\Model\StockArtImagesAttributeRepository"/>
    <type name="DistributorTools\StockArtLibrary\Api\StockArtCoverRepositoryInterface">
        <plugin name="save_stock_art_images_attribute" type="DistributorTools\StockArtLibrary\Plugin\StockArtCoverSave"/>
        <plugin name="get_stock_art_images_attribute" type="DistributorTools\StockArtLibrary\Plugin\StockArtCoverGet"/>
    </type>
</config>