<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DistributorTools\StockArtLibrary\Api\Data\StockArtCoverInterface" type="DistributorTools\StockArtLibrary\Model\StockArtCover"/>
    <preference for="DistributorTools\StockArtLibrary\Api\Data\StockArtCoverSearchResultsInterface" type="DistributorTools\StockArtLibrary\Model\StockArtCoverSearchResults"/>
    <preference for="DistributorTools\StockArtLibrary\Api\StockArtCoverRepositoryInterface" type="DistributorTools\StockArtLibrary\Model\StockArtCoverRepository"/>
</config>